@model Unigo.Models.InfoPastRide

    <tbody>
        <tr>
            <th>@Model.riderName</th>
            <td>@Model.Destination</td>
            <td>@Model.Time</td>
        </tr>

    </tbody>
            