
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@* 
    Figure out info under picture add something new to DB or use what we have (prefer DB)
        Mesto
        Narodnost
        Campus
        Joined date
    Add view model for showing past rides
    Figure out how to save photo
    Implement sigan r chat


*@
<header class="container-fluid pt-5 bg-unigo">
    <div class="container">
        <div class="row text-md-left text-center">
            <div class="col ml-auto">
                <h1 class="text-white">Profile</h1>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row pt-3 pt-sm-5">
        <div class="col-12 col-md-3">
            <div class="card mb-3">
                <img src="resources/images/marco-pfp.jpg" class="rounded-top img-fluid" alt="Profile Picture">
                <div class="card-body text-center">
                    <h5 class="card-title">Marco Magdolen</h5>
                    <p class="card-text">Just trynna make it work around here ngl</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="card-text d-flex align-items-center">
                            <i class="fas fa-flag pr-3"></i>
                            <p class="m-0">Slovakia</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="card-text d-flex align-items-center">
                            <i class="fas fa-home pr-3"></i>
                            <p class="m-0">Aalborg, Denmark</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="card-text d-flex align-items-center">
                            <i class="fas fa-university pr-3"></i>
                            <p class="m-0">UCN Aalborg</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="card-text d-flex align-items-center">
                            <i class="fas fa-clock pr-3"></i>
                            <p class="m-0">Joined 11.11.2019</p>
                        </div>
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-primary w-75 mb-3" id="main-button">Message</button>
        </div>
        <div class="col mt-3 mt-lg-0">
            <div class="text-md-left text-center">
                <h3>Latest Trips</h3>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Type</th>
                                <th scope="col">Date</th>
                                <th scope="col">Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">3</th>
                                <td>Ride</td>
                                <td>01.11.2019</td>
                                <td>5 <i class="fas fa-star"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Drive</td>
                                <td>01.11.2019</td>
                                <td>4 <i class="fas fa-star"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Ride</td>
                                <td>01.11.2019</td>
                                <td>5 <i class="fas fa-star"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
