body {
	height: 100%;
}

.jumbotron {
	background-color: #4b7bec;
}

#nav, .navbar, .bg-unigo {
	background-color: #4b7bec;
}

#brand {
	font-family: 'Days One' !important;
}

footer li a {
	color: #FFF !important;
}

/* Profile Page */
.image-pfp {
	width: 80px;
	height: 80px;
}

/* Other Pages */
.hr-blue {
	border-top: 2px solid #4b7bec;
}

.hr-white {
	border-top: 2px solid #FFF;
}

.wrapper {
	background-color: #4b7bec;
}

#overallRating > i {
	color: #4b7bec;
}

#rating {
	color: #000 !important;
}