<section id="contact" class="pt-3 pt-md-5 bg-unigo text-white">
    <footer class="page-footer font-small blue pt-4">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-12 col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">Contact</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo, mi et aliquam dignissim, nisl leo ullamcorper felis, vitae dapibus odio lacus in metus. Praesent dictum vel diam eu auctor. Aenean vulputate metus tortor, ac ultrices lorem porttitor ac.</p>
                </div>
                <hr class="clearfix w-75 d-md-none pb-3 hr-white">
                <div class="col-6 col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center pt-3 pb-1">
            <p>Created by UCN Students</p>
        </div>
    </footer>
</section>